.headerBottom
  .text
    SHARE
  .icon#icon
    = link_to do
      = fa_icon 'facebook-official lg' , class: "icon"
  .icon
    = link_to do
      = fa_icon 'twitter lg' , class: "icon"
  .text /
  .text#contact CONTACT
