.headerTop
  .title
    = image_tag("title.png" , class: "title")
  .var
    .about
      Agolaとは
      .en#about about us
    .city
      新宿区
      .en#shinjuku shinjuku
    .city
      品川区
      .en#shinagawa shinagawa
    .city
      杉並区
      .en#suginami suginami
