.icatchShinjuku{
position: relative;
  .icatchImage{
    width:100vw;
    vertical-align: bottom;
  }
  .textShinjuku{
  color: #FF7043;
  font-weight: bold;
  font-size: 4em;
  font-family :Quicksand, sans-serif;
  text-shadow: 3px 3px 1px #999999;
  }
  #topShinjuku{
    position: absolute;
    top: 30%;
    left: 20%;
  }
  #bottomShinjuku{
    position: absolute;
    top: 40%;
    left: 29%;
  }
}


.point{
position: relative;
  .pointImage{
    width:100vw;
    vertical-align: bottom;
  }
  .pointTitle{
    color: #FF7043;
    font-weight: bold;
    font-size: 3em;
    font-family :Quicksand, sans-serif;
    text-align: center;
    padding-top: 100px;
    position: absolute;
    top: 0%;
    left: 37%;
    text-shadow: 3px 3px 1px #999999;
  }

  .pointText{
    padding-top: 50px;
    color: #424242;
    font-weight: bold;
    font-size: 20px;
    font-family :Quicksand, sans-serif;
    text-align: center;
    line-height: 2em;
    position: absolute;
    top: 25%;
    left: 7%;
    text-shadow: 1px 1px 1px #999999;
  }
}


.candidates{
  // #cTitle{
  //   color: #FF7043;
  //   font-weight: bold;
  //   font-size: 3em;
  //   font-family :Quicksand, sans-serif;
  //   text-align: center;
  //   padding-top: 100px;
  //   text-shadow: 1px 1px 1px #;
  // }
}

.candidatesCircles{
  display: flex;
  justify-content: space-around;
  padding-top:60px;
  .circle1{
    color: none;
    font-weight: bold;
    font-size: 20px;
    color: #424242;
  }
  .circle2{}
    color: none;
    font-weight: bold;
    font-size: 20px;
    color: #424242;
}



  .person1Circle:hover {
  color: #fff;
  background-color: #D84315;
  }
  .person2Circle:hover {
  color: #fff;
  background-color: #D84315;
  }

