.icatchShinagawa{
position: relative;
  .icatchImage{
    width:100vw;
    vertical-align: bottom;
  }
  .textShinagawa{
  color: #FF7043;
  font-weight: bold;
  font-size: 4em;
  font-family :Quicksand, sans-serif;
  text-shadow: 3px 3px 1px #999999;
  }
  #topShinagawa{
    position: absolute;
    top: 10%;
    left: 8%;
  }
  #bottomShinagawa{
    position: absolute;
    top: 25%;
    left: 18%;
  }
}


.point{
position: relative;
  .pointImage{
    width:100vw;
    vertical-align: bottom;
  }
  #shinagawaTitle{
    color: #FF7043;
    font-weight: bold;
    font-size: 3em;
    font-family :Quicksand, sans-serif;
    text-align: center;
    padding-top: 100px;
    position: absolute;
    top: 0%;
    left: 37%;
    text-shadow: 3px 3px 1px #999999;
  }

  #shinagawaText{
    padding-top: 50px;
    color: #424242;
    font-weight: bold;
    font-size: 20px;
    font-family :Quicksand, sans-serif;
    text-align: center;
    line-height: 2em;
    position: absolute;
    top: 25%;
    left: 13%;
    text-shadow: 1px 1px 1px #999999;
  }
}




  #cTitle{
    color: #FF7043;
    font-weight: bold;
    font-size: 3em;
    font-family :Quicksand, sans-serif;
    text-align: center;
    padding-top: 100px;
    // text-shadow: 1px 1px 1px #eeeeee;
  }


.candidatesBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top:60px;
  .Box{
    color: none;
    font-weight: bold;
    font-size: 20px;
    color: #424242;
    width:40vw;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    box-shadow: 2px 2px 4px #424242;
    .leftBox{
      .personimage{
        box-shadow: 2px 2px 4px #424242;
      }
    }
    .rightBox{
      #eachEle{
        padding:10px 10px;
      }
    }
  }
}



