
#main{
  position: relative;
  font-family: 'Hiragino Maru Gothic ProN';
  .signContent{
    width:80vw;
    height:85vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display:flex;
    box-shadow: 0 0 20px gray;

// signの際の左側のフォーム
    .signLeftContent{
      background-color: #0E244D;
      width:40vw;
      .signLeftContnetTitleTop{
        font-size: 4em;
        font-weight: bold;
        color:white;
        padding-top: 40px;
        padding-left:40px;
        letter-spacing:3px ;
      }
      .signLeftContnetTitleBottom{
        font-size: 4em;
        font-weight: bold;
        padding-left:40px;
        color:white;
        letter-spacing:3px ;
      }
      .signLeftContnetText{
        font-size: 13px;
        font-weight: bold;
        padding-left:40px;
        padding-top: 10px;
        color:#3A82CA;
      }
    }

// 右側のcontentに対するcss
    .signRightContent{
      width:40vw;
      overflow: scroll;
      .hello{
        font-size:30px;
        font-weight: bold;
        padding-left: 40px;
        padding-top: 20px;
        color:#424242;
      }
      .greeting{
        font-size:13px;
        padding-left: 40px;
        color:#9E9E9E;
      }
    }
  }
}

// signの際の右側のフォーム要素へのcss


#signName{
  padding-top: 30px;
}


.field{
          padding-left:40px;
          padding-top: 10px;
          width:25vw;
          font-size: 13px;
          color:#9E9E9E;
        }

.submit{
  height:50px;
  padding: 0px 15px;
  background-color: #0087F1;
  vertical-align:middle;
  line-height: 40px;
  color:white;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}


// shredリンクの色・位置調整

.login {
  padding-left: 40px;
  color:#0093FA;
  position: relative;top:20px;
}

.signup {
  padding-left: 40px;
  color:#0093FA;
  position: relative;top:55px;
}

.forget {
  padding-left: 40px;
  color:#0093FA;
  position: relative;top:55px;
}


// editの空白
.editfield{
  padding-left:40px;
  padding-top: 30px;
  width:25vw;
  font-size: 13px;
  color:#9E9E9E;
}


// Edit時のcancel account
.editcancel{
  padding-left:40px;
  padding-top: 50px;
  width:25vw;
  font-size: 13px;
  color:#9E9E9E;
}
.cancel{
  margin-left:38px;
  margin-top: 5px;
  font-size: 13px;
  color:#9E9E9E;
}

.back{
  margin-left:40px;
  position:relative; top:10px;
  font-size: 13px;
  color:#0093FA;
}

// パスワード変更の際のsubmit
.passSubmit{
 height:50px;
  padding: 0px 15px;
  background-color: #0087F1;
  vertical-align:middle;
  line-height: 40px;
  color:white;
  margin-left: 40px;
  margin-top: 90px;
}

// パスワード変更時の文字のscss
.greeting{
  padding-top: 20px;
}

.en{
  height:10px;
  width:10px;
  box-shadow: 0 0 5px #eeeeee;
  // visibility:hidden;
}
#en1{
  border-radius: 50%;
  background-color: #eeeeee;
  position: absolute;top:80%;left:15%;
}
#en2{
  border-radius: 50%;
  height:13px;
  width:13px;
  background-color: #60D27F;
  position: absolute;top:75%;left:19.8%;
}
#en3{
  height:15px;
  width:15px;
  border-radius: 50%;
  background-color: #21FFFE;
  position: absolute;top:70%;left:25%;
}

#en4{
  border-radius: 50%;
  background-color: #21FFFE;
  position: absolute;top:75%;left:30%;
}
#en5{
  border-radius: 50%;
  height:13px;
  width:13px;
  background-color: #60D27F;
  position: absolute;top:70%;left:35%;
}
#en6{
  border-radius: 50%;
  height:15px;
  width:15px;
  background-color: #eeeeee;
  position: absolute;top:65%;left:40%;
}

#en7{
  height:18px;
  width:18px;
  border-radius: 50%;
  background-color:#60D27F ;
  position: absolute;top:60%;left:45%;
}

