
#main{
  position: relative;
  .signContent{
    width:80vw;
    height:85vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display:flex;
    box-shadow: 0 0 20px gray;

// signの際の左側のフォーム
    .signLeftContent{
      background-color: #0E244D;
      width:40vw;
      .signLeftContnetTitleTop{
        font-size: 4em;
        font-weight: bold;
        color:white;
        padding-top: 40px;
        padding-left:40px;
      }
      .signLeftContnetTitleBottom{
        font-size: 4em;
        font-weight: bold;
        padding-left:40px;
        color:white;
      }
      .signLeftContnetText{
        font-size: 13px;
        font-weight: bold;
        padding-left:40px;
        padding-top: 10px;
        color:#3A82CA;
      }
    }

// 右側のcontentに対するcss
    .signRightContent{
      width:40vw;
      overflow: scroll;
      .hello{
        font-size:30px;
        font-weight: bold;
        padding-left: 40px;
        padding-top: 20px;
        color:#424242;
      }
      .greeting{
        font-size:13px;
        padding-left: 40px;
        color:#9E9E9E;
      }
    }
  }
}

// signの際の右側のフォーム要素へのcss


#signName{
  padding-top: 30px;
}


.field{
          padding-left:40px;
          padding-top: 10px;
          width:25vw;
          font-size: 13px;
          color:#9E9E9E;
        }

.submit{
  height:50px;
  padding: 0px 15px;
  background-color: #0087F1;
  vertical-align:middle;
  line-height: 40px;
  color:white;
  float: right;
  margin-right: 30px;
  margin-top: 10px;
}


// shredリンクの色・位置調整

.login {
  padding-left: 40px;
  color:#0093FA;
  position: relative;top:20px;
}

.signup {
  padding-left: 40px;
  color:#0093FA;
  position: relative;top:55px;
}

.forget {
  padding-left: 40px;
  color:#0093FA;
  position: relative;top:55px;
}


// editの空白
.editfield{
  padding-left:40px;
  padding-top: 30px;
  width:25vw;
  font-size: 13px;
  color:#9E9E9E;
}


// Edit時のcancel account
.editcancel{
  padding-left:40px;
  padding-top: 50px;
  width:25vw;
  font-size: 13px;
  color:#9E9E9E;
}
.cancel{
  margin-left:38px;
  margin-top: 5px;
  font-size: 13px;
  color:#9E9E9E;
}

.back{
  margin-left:40px;
  position:relative; top:10px;
  font-size: 13px;
  color:#0093FA;
}

